@media only screen and (min-width: 1200px) {

    .Spahouse{
    margin-left: 230px;
}
.one{
    margin-left: 480px;
}
.header_boi_2{
    margin-top: -5px;
    margin-left: 90px;
}
.one_two{
    margin-top: -35px;
    margin-left: 730px;
}
.header_boi_3{
    position: absolute;
    margin-left: 116px;
    margin-top: -85px;
}
.demo{
margin-left: 120px;
}
.section_icon{
    margin-left: 660px;
}























































}