@media only screen and (max-width: 800px) {
    body {
      background-color: gold;
    }
.header_boi1{
    margin-left: -110px;
}
.Spahouse{
    margin-left: 80px;
}
.one{
    margin-left: 400px;
}
.header_boi_2 {
    margin-top: 55px;
    margin-left:-740px;
}
.one_two{
    margin-left: 80px;
    margin-top: 40px;
}

.header_boi_3 img{
    margin-top: 60px;
   margin-left:-570px;
 }
 .demo{
margin-left: -560px;
margin-top: 60px;
 }

.section{
    margin-top: 50px;
}
.section_boi_2{
    margin-left: 20px;
}
.section_icon{
    margin-top: -100px;
    margin-left: 180px;
}
.Glow{
    margin-left: 30px;
}
.loram2{
   
margin-left:-20px;
    
    }
.main_boi_2 img{
    margin-top: 10px;
    margin-left: -100px;
}

.Rectangle5{
  margin-left:-12px;
}
.main_boi_2{
    margin-top: 250px;
}
.main_section_5{
    margin-top: 50px;
    margin-left: -30px;
}
.lorem_iosum{
   
    margin-top: -80px;
    margin-left: 10px;
}
.Read{
    margin-top: -160px;
    margin-left: 20px;
}
.img_vic_2{
    margin-top: -1500px;
    margin-left: 220px;
}

.main_boi_3{
    margin-top: -730px;
   margin-left: 200px;
}

.main_boi_4{
   margin-left: 200px;
}
.Rectangle10{
 margin-top: -120px;
 margin-left: 80px;
    }
    .Rectangle9{
     margin-left: 20px;
     margin-top: 520px;
    }

.sarvice_boi_2{
    width: 100%;
}
.img7{
    margin-left: 150px;
}
.service_boi_3{
    margin-left: 150px;
}
.section_boi_5{
    margin-left: 150px;
}
.img_4 img{
    margin-top: 40px;
    margin-left: 150px;
}

.react22{
margin-top: 2520px;
margin-left: -320px;
 }
.we{
    text-align: center;
}
.we2{
    text-align: center;
}
.we3{
    text-align: center;
}
.rr{
    margin-left: 220px;
}













































  }